footer {
    height: 100%;
    width: 100%;
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px inset $colorNegro;
    form {
        h2 {
            margin-right: 20px;
        }
        p {
            text-align: center;
        }
        .suscripcion {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid $colorNegro;

            padding: 20px;
            h2 {
                font-size: 1em;
            }
            .submit {
                height: 30px;
                width: 150px;
                background-color: $colorWhatsapp;
            }
            h2 {
                margin-bottom: 10px;
                p {
                    text-align: center;
                }
            }
        }
        h3 {
            font-size: 1em;
            margin-bottom: 5px;
        }
    }
    .ayuda__informativa {
        .mi__cuenta {
            display: flex;
            flex-direction: column;
            margin-right: 20px;

            h3 {
                font-size: 0.8em;
                &:hover {
                    color: #565656;

                    cursor: pointer;
                }
            }
        }
        .preguntas__frecuentes {
            h3 {
                font-size: 0.8em;
                &:hover {
                    color: #565656;

                    cursor: pointer;
                }
            }
        }
        .contacto {
            align-items: start;
            margin: 0px 20px 0px 20px;
            .email {
                display: flex;
                padding-bottom: 5px;
            }
            .whatsapp {
                a {
                    display: flex;
                    color: $colorWhatsapp;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    footer {
        display: flex;
        flex-direction: column;
        form {
            .suscripcion {
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                padding: 0;
                .derecha {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
        .ayuda__informativa {
            display: flex;
            justify-content: space-between;
            margin: 0px 10px 0px 50px;
        }
    }
}

@media (min-width: 992px) {
    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: start;
        h3 {
            font-size: 0.9em;
            margin-bottom: 10px;
        }
        form {
            .suscripcion {
                display: flex;
                flex-direction: row;
                border: 0;
                textarea {
                    resize: none;
                }
            }
            .derecha {
                .abajo {
                    .submit {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .ayuda__informativa {
            margin: 0;
            .mi__cuenta {
                display: flex;
                flex-direction: column;
                h2 {
                    text-align: center;
                }
            }
            .whatsapp {
                a {
                    display: flex;
                    color: $colorWhatsapp;
                }
            }
        }
    }
}
