@import "_variables.scss";
header {
    width: 100%;
    .nav__superior {
        height: 65px;
        width: 100%;
        background-color: $colorCinco;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .izquierdo {
            p {
                display: none;
            }
            a {
                .fa-brands {
                    font-size: 3em;
                    color: $colorWhatsapp;
                    margin-left: 30px;
                }
            }
        }
        .derecho {
            a {
                .iniciar__sesion {
                    display: none;
                }
                .logo {
                    .fa-solid {
                        font-size: 2.5em;
                        margin-right: 30px;
                        color: $colorUno;
                    }
                }
            }
        }
    }
    .nav__medio {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
    }
    .nav__abajo {
        border-top: 1px solid $colorCinco;
        i{
            color: $colorCinco;
        }
        
        .nav__lista {
            padding: 20px;
        }
        ul {
            display: flex;
            justify-content: center;
        }
        .nav__lista__desaparecido {
           display: none;
        }
    }
}

@media (min-width: 768px) {
    header {
        .nav__superior {
            height: 60px;
            .izquierdo {
                a {
                    display: flex;
                    align-items: center;
                    .fa-brands {
                        color: $colorWhatsapp;
                        margin-right: 10px;
                    }
                }
                p {
                    display: block;
                    color: $colorUno;
                    font-size: 0.9em;
                }
            }
            .derecho {
                a {
                    .iniciar__sesion {
                        display: block;
                        color: $colorUno;
                        font-size: 1.5em;
                        margin-right: 15px;
                    }
                    .logo {
                        display: none;
                    }
                }
            }
        }
        .nav__medio {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            img {
                width: 300px;
                height: 120px;
            }
        }
        .nav__abajo {
            display: block;
            border-top: 1px solid $colorCinco;
           
            p{
                color: $colorCuatro;
                font-size: 1.2em;
            }
            ul {
                display: flex;
                justify-content: center;
            }
            .nav__lista {
                font-size: 1em;
                padding: 30px;
                display: flex;
                .nav__lista__desaparecido{
                    .buscador{
                        display: block;
                    }
                }

                .fa-solid {
                    font-size: 0.7em;
                }
                a {
                    display: flex;
                    color: $colorCinco;
                    align-items: center;
                }
                .buscador {
                    font-size: 1.1em;
                    color: #333333;
                    label {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
