main {
    
    .guias {
        display: flex;
        user-select: none;
        .marcador {
            padding: 0px 5px 5px 5px;
            &:hover {
                color: $colorHover;
                font-size: 1.07em;
                cursor: pointer;
            }
        }
    }
    .maquetacion {
        gap: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .primera__maquetacion {
            height: 400px;
            width: 90%;
            background-image: url(../assets/images/zapatos1.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            .parrafo {
                font-family: "Raleway", sans-serif;
                -webkit-text-stroke: $colorBlanco 1px;
                color: $colorNegro;
                font-size: 2em;
            }
            .button {
                font-family: "Raleway", sans-serif;
                -webkit-text-stroke: $colorBlanco 1px;
                color: $colorNegro;
                font-size: 2em;
                margin-bottom: 5%;
                &:hover {
                    cursor: pointer;
                    color: $colorHover;
                    font-size: 1.9em;
                }
                p {
                    color: $colorBlanco;
                    -webkit-text-stroke: $colorNegro 2px;
                }
            }
        }
    }
    .segunda__maquetacion {
        height: 400px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/images/watercolor.webp);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        transition: 10s;
        i {
            color: $colorCuatro;
            margin-bottom: 25px;
            font-size: 1.5em;
        }
        // transition-duration: inherit;
        &:hover {
            background-image: url(../assets/images/zapatos2.webp);
            background-size: cover;
            cursor: pointer;
        }
        p {
            justify-content: center;
            align-items: center;
            font-family: "Raleway", sans-serif;
            -webkit-text-stroke: $colorBlanco 1px;
            color: $colorNegro;
            font-size: 1.33em;
        }
    }
}

.descuentos {
    
    img {
        width: 100%;
        height: 60px;
    }
}
.maquetacion__abajo {
    display: flex;
    justify-content: center;
    width: 100%;
    .card {
        height: 300px;
        width: 210px;
        .parrafo__card {
            p {
                text-shadow: 1px 1px 1px $colorNegro, 0px 14px 10px rgba(0, 0, 0, 0.15),
                    0px 24px 2px rgba(0, 0, 0, 0.1),
                    0px 34px 30px rgba(0, 0, 0, 0.1);
            }
        }
        button {
            background-color: $colorCuatroTransparente;
            color: $colorNegro;
            border: none;
            color: $colorBlanco;
            padding: 10px 25px;
            border-radius: 10%;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            &:hover {
                filter: brightness(1.05);
                background-color: $colorCuatro;
            }
        }
    }
}
.card__contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;

    .card__uno {
        background-image: url(../assets/images/zapatos1.webp);
        @include card;
    }
    .card__dos {
        background-image: url(../assets/images/zapatos2.webp);
        @include card;
    }
    .card__tres {
        background-image: url(../assets/images/zapatos3.webp);
        @include card;
    }
    .card__cuatro {
        background-image: url(../assets/images/zapatos4.webp);
        @include card;
    }
    .card__cinco {
        background-image: url(../assets/images/zapatos5.webp);
        @include card;
    }
    .card__seis {
        background-image: url(../assets/images/zapatos6.webp);
        @include card;
    }
    .card__siete {
        background-image: url(../assets/images/zapatos7.webp);
        @include card;
    }
    .card__ocho {
        background-image: url(../assets/images/zapatos8.webp);
        @include card;
    }
    .card__nueve {
        background-image: url(../assets/images/zapatos9.webp);
        @include card;
    }
    .card__diez {
        background-image: url(../assets/images/zapatos10.webp);
        @include card;
    }
    .nombre__zapatos {
        text-align: center;
        margin: 10px;
        background-color: #f99fa9;
        border-radius: 4px;
        border: 1px solid $colorNegro;
    }
    .parrafo__card {
        margin-bottom: 10px;
        p {
            font-size: 1.7em;
            color: #fff;
        }
    }
}

@media (min-width: 768px) {
    main {
        .guias {
            display: flex;
            font-size: 0.8em;
            margin: 10px 0px 10px 0px;
            .marcador {
                margin: 0px 5px 0px 5px;
                &:hover {
                    color: $colorHover;
                    font-size: 1.07em;
                    cursor: pointer;
                }
            }
        }
        .descuentos {
            background-color: $colorDescuentos;
            height: 70px;
            width: 100%;
            align-items: center;
            position: relative;
            margin-bottom: 20px;
            img {
                height: 67px;
                width: 40vw;
                position: absolute;
                animation-name: mianimacion;
                animation-duration: 15s;
                animation-iteration-count: infinite;
                @keyframes mianimacion {
                    from {
                        right: 0vw;
                    }
                    to {
                        right: 100vw;
                    }
                }
            }
        }
        .maquetacion {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 100vh;
            .primera__maquetacion {
                margin-left: 2.5%;
                height: 100%;
                width: 50%;
                display: flex;
                .button {
                    margin-bottom: 5%;
                    @include parrafo;
                    font-size: 1.8em;
                    &:hover {
                        cursor: pointer;
                        color: $colorHover;
                        font-size: 1.9em;
                    }
                    p {
                        color: $colorBlanco;
                        -webkit-text-stroke: $colorNegro 2px;
                    }
                }
                .parrafo {
                    @include parrafo;
                    p {
                        color: $colorBlanco;
                    }
                }
            }
            .segunda__maquetacion {
                height: 500px;
                width: 40%;
                display: flex;
                justify-content: end;
                align-items: center;
                .button {
                    margin-bottom: 5%;
                    font-size: 1em;
                }
            }
        }
        .maquetacion__abajo {
            display: flex;
            justify-content: center;
            width: 100%;
            .card {
                height: 300px;
                width: 210px;
                .parrafo__card {
                    p {
                        text-shadow: 1px 1px 1px $colorNegro,
                            0px 14px 10px rgba(0, 0, 0, 0.15),
                            0px 24px 2px rgba(0, 0, 0, 0.1),
                            0px 34px 30px rgba(0, 0, 0, 0.1);
                    }
                }
                button {
                    background-color: $colorCuatroTransparente;
                    color: $colorNegro;
                    border: none;
                    color: $colorBlanco;
                    padding: 10px 25px;
                    border-radius: 10%;
                    text-decoration: none;
                    margin: 4px 2px;
                    cursor: pointer;
                    &:hover {
                        filter: brightness(1.05);
                        background-color: $colorCuatro;
                    }
                }
            }
        }
    }
}
