.maquetacion__outlet{
    .card__contenedor{
        display: flex;
        flex-wrap: wrap;
        .card__uno {
            background-image: url(../assets/images/zapatos12.webp);
            @include card;
        }
        .card__dos {
            background-image: url(../assets/images/zapatos13.webp);
            @include card;
        }
        .card__tres {
            background-image: url(../assets/images/zapatos14.webp);
            @include card;
        }
        .card__cuatro {
            background-image: url(../assets/images/zapatos15.webp);
            @include card;
        }
        .card__cinco {
            background-image: url(../assets/images/zapatos16.webp);
            @include card;
        }
        .card__seis {
            background-image: url(../assets/images/zapatos17.webp);
            @include card;
        }
        .card__siete {
            background-image: url(../assets/images/zapatos18.webp);
            @include card;
        }
        .card__ocho {
            background-image: url(../assets/images/zapatos19.webp);
            @include card;
        }
        
        .card{
            height: 350px;
            width: 250px;
        }
        .nombre__zapatos {
            text-align: center;
            margin: 10px;
            background-color: $colorTres;
            border-radius: 4px;
            border: 1px solid $colorNegro;
            color: $colorBlanco;
        }
        // i {
        //     color: $colorCuatro;
        //     margin-bottom: 25px;
        //     font-size: 1.5em;
        // }
        // // transition-duration: inherit;
        // &:hover {
        //     background-image: url(../assets/images/zapatos2.webp);
        //     background-size: cover;
        //     cursor: pointer;
        // }
    }
}