* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@media (min-width:1440px) {
    .container{
        margin: 0 auto;
        width: 1330px;
    }
}