$colorUno: #ffc5c1;
$colorDos: #f99fa9;
$colorTres:#aa6581;
$colorCuatro:#503850;
$colorCuatroTransparente:#eb93895a;
$colorCinco:#2a1e1e;
$colorWhatsapp: #25d366;
$colorHover:#565656;
$colorNegro: #000;
$colorBlanco:#fff;
$colorFooter:#999;
$colorDescuentos:#EB9389;

